<h2>The Big Four</h2>
<div class="{{unless poFlag "red "}}circle PO">{{_po}} <p>Product Owner</p></div>
<div class="{{unless hdFlag "red "}}circle HD">{{_hd}} <p>Design</p></div>
<div class="{{unless hfeFlag "red "}}circle HFE">{{_hfe}}<p>Front-End</p></div>
<div class="{{unless hbeFlag "red "}}circle HBE">{{_hbe}}<p>Back-End</p></div>
