<ul class="core-team-list mdl-list">
  <li class="mdl-list__item mdl-list__item--two-line mdl-shadow--2dp">
    <span class="mdl-list__item-primary-content ">
      <i class="material-icons mdl-list__item-avatar">person</i>
      <span>{{team.product_owner.name}}</span>
      <span class="mdl-list__item-sub-title">Product Owner</span>
    </span>
  </li>
  <li class="mdl-list__item mdl-list__item--two-line mdl-shadow--2dp">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">person</i>
      <span>{{if team.head_design.name team.head_design.name '?'}}</span>
      <span class="mdl-list__item-sub-title">Design</span>
    </span>
    <span class="mdl-list__item-secondary-content">
      {{#if isLoggedIn}}
        {{#unless team.head_design.name}}
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored" type="button" {{action 'addContributor' 'design'}}>Join</button>
        {{/unless}}
      {{/if}}
    </span>
  </li>
  <li class="mdl-list__item mdl-list__item--two-line mdl-shadow--2dp">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">person</i>
      <span>{{if team.head_frontend.name team.head_frontend.name '?'}}</span>
      <span class="mdl-list__item-sub-title">Front-end</span>
    </span>

    {{#if isLoggedIn}}
      {{#unless team.head_frontend.name}}
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored" type="button" {{action 'addContributor' 'frontend'}}>Join</button>
      {{/unless}}
    {{/if}}
  </li>
  <li class="mdl-list__item mdl-list__item--two-line mdl-shadow--2dp">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">person</i>
      <span>{{if team.head_backend.name team.head_backend.name '?'}}</span>
      <span class="mdl-list__item-sub-title">Back-end</span>
    </span>
    {{#if isLoggedIn}}
      {{#unless team.head_backend.name}}
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored" type="button" {{action 'addContributor' 'backend'}}>Join</button>
      {{/unless}}
    {{/if}}
  </li>
  <li class="mdl-list__item mdl-list__item--two-line mdl-shadow--2dp full-width">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">favorite</i>
      <span>
        {{#each team.contributors as |contributor|}}
          <span class="comma-separated">
            {{contributor.name}}
          </span>
        {{/each}}
      </span>
      <span class="mdl-list__item-sub-title">Supporters</span>
    </span>
    {{#if isLoggedIn}}
      {{#unless isContributor}}
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored" type="button" {{action 'addContributor'}}>Join</button>
      {{/unless}}
    {{/if}}
  </li>
</ul>
{{ember-notify}}
