<h2>The Big Four</h2>
<div class="{{unless team.po "red "}}circle PO">{{_getPO}} <p>Product Owner</p></div>
<div class="{{unless team.hd "red "}}circle HD">{{_getHD}} <p>Design</p></div>
<div class="{{unless team.hfe "red "}}circle HFE">{{_getHFE}}<p>Front-End</p></div>
<div class="{{unless team.hbe "red "}}circle HBE">{{_getHBE}}<p>Back-End</p></div>
