<div class="mdl-card__title">
  <h2 class="mdl-card__title-text">{{model.title}}</h2>
</div>
{{#if showAll}}
  <div class="mdl-card__supporting-text">
    {{model.description}}
    {{component 'bepstore-goals@goal/core-team' team=model}}
  </div>
  <div class="mdl-card__actions mdl-card--border">
    {{mdl-button isRaised=true text='Go to goal' action="open"}}
  </div>
{{/if}}
<div class="mdl-card__menu">
    {{mdl-icon badge=model.contributors.length icon='group' class='mdl-badge--overlap vbottom '}}
    {{component 'bepstore-goals@badge/status-badge' status=model.status size='small' class='inline-block'}}
    {{#if showAll}}
      {{mdl-button icon='expand_less' isColored=false action='showDescr'}}
    {{else}}
      {{mdl-button icon='expand_more' isColored=false action='showDescr'}}
    {{/if}}
</div>
