<div class=goal_container>
  <div class="goal_con_upper" {{action "showDescr"}}>
    <div class="goal_title goal_left">
      {{model.title}}
      {{component 'bepstore-goals@badge/status-badge' status=model.status size="small"}}
    </div>
    <div class="goal_volunteers goal_right">
      Volunteers: 42
    </div>
  </div>
  {{#if showAll}}
  <div class="goal_con_lower">
    <div class="goal_descr goal_left">
      <p>{{model.description}}</p>
    </div>
    <div class="goal_coret goal_right">
      {{component 'bepstore-goals@goal/core-team' team=model}}
    </div>
  </div>
  {{/if}}
</div>
