{{#fbf-modal}}
  {{#unless isUpdate}}
    <div class="fbf-modal__header--style-dark">
        {{#fbf-item}}
          <div class="fbf-item__primary-icon" {{action 'dismiss'}}>
            {{#fbf-icon}}close{{/fbf-icon}}
          </div>
          <div class="fbf-item__content">
            {{#fbf-text title=true light=true}}
              Add a {{type}}
            {{/fbf-text}}
          </div>
        {{/fbf-item}}
    </div>
    <div class="fbf-modal__content">
      {{#if isRepo}}
        {{challenges/add/add-repo model=new}}
      {{else if isMilestone}}
        {{challenges/add/add-milestone model=new}}
      {{else if isIssue}}
        {{challenges/add/add-issue new=new model=model}}
      {{/if}}
    </div>
    <div class="fbf-modal__footer">
      {{#fbf-btn isColored=true disabled=model.isSaving action='dismiss'}}
        Discard
      {{/fbf-btn}}
      {{#fbf-btn isColored=true disabled=saveDisabled action='saveDismiss'}}
        Add
      {{/fbf-btn}}
      {{#fbf-btn isColored=true disabled=saveDisabled action='save'}}
        Add &amp; Continue
      {{/fbf-btn}}
    </div>
  {{else}}
    <div class="fbf-modal__header--style-dark">
        {{#fbf-item}}
          <div class="fbf-item__primary-icon" {{action 'dismiss'}}>
            {{#fbf-icon}}close{{/fbf-icon}}
          </div>
          <div class="fbf-item__content">
            {{#fbf-text title=true light=true}}
              Give a Update
            {{/fbf-text}}
          </div>
        {{/fbf-item}}
    </div>
    <div class="fbf-modal__content">
      {{challenges/add/give-update model=new}}
    </div>
    <div class="fbf-modal__footer">
      {{#fbf-btn isColored=true disabled=model.isSaving action='dismiss'}}
        Discard
      {{/fbf-btn}}
      {{#fbf-btn isColored=true disabled=saveDisabled action='save'}}
        Add
      {{/fbf-btn}}
    </div>
  {{/unless}}
{{/fbf-modal}}
