<div class="title_bar">
  {{getTitle}}
</div>
<div class="{{idSize}}issue_info">
  <div class="priority issue_badge">
    Prio: high
  </div>
  <div class="type issue_badge">
    Type: Feature
  </div>
  {{model.repo.id}}
</div>
<div class="body_content">
  {{model.body}}
</div>
<div class="status_bar {{model.state}}">
 Status: {{model.state}}
</div>
