<div>
  Number: {{model.number}}
</div>
<div>
  Title: {{model.title}}
</div>
<div>
  State: {{model.state}}
</div>
<div>
  Repo: {{model.repo.name}}
</div>

{{#if isPending}}

{{else if isFailure}}

{{else if isSucces}}

{{/if}}
