{{#fbf-card}}
<div class="mdl-card__title" {{action 'toggle'}}>
  <h3 class="mdl-card__title-text">{{model.title}}</h3>
</div>
{{#if show}}
  <div class="{{if finished "done "}}subchallenge_container mdl-shadow--2dp">
    {{#if model.description}}
      <div class="challenge_description">
        {{model.description}}
      </div>
    {{/if}}
    <div class="overflow-container">
      <div class="scroll-container">
        {{#each model.issues as |issue|}}
          {{component 'bepstore-goals@challenges/issue' model=issue class="issue"}}
        {{/each}}
      </div>
    </div>
  </div>
{{/if}}

<div class="mdl-card__menu">
  {{!mdl-icon badge=progress icon='build' class='mdl-badge--overlap vbottom '}}
    <progress value={{progress}} max="100"><span>{{progress}}%</span></progress>
    {{#if show}}
      {{mdl-button icon='expand_less' isColored=false action='toggle'}}
    {{else}}
      {{mdl-button icon='expand_more' isColored=false action='toggle'}}
    {{/if}}
</div>
{{/fbf-card}}
