<div class="fbf-layout__flex-container">
  {{#component 'bepstore-goals@goal/goal-index' model=model}}
  {{#fbf-card}}
    <div class="mdl-card__title">
       <h2 class="mdl-card__title-text">Description</h2>
    </div>
    <div class="mdl-card__supporting-text">
      {{#if model.description}}
        {{markdown-to-html model.description}}
      {{/if}}
    </div>
  {{/fbf-card}}
{{#fbf-card}}
  <div class="mdl-card__title">
     <h2 class="mdl-card__title-text">Status</h2>
  </div>
  <div class="mdl-card__supporting-text">
    {{#if model.updateText}}
      {{markdown-to-html model.updateText}}
    {{/if}}
  </div>
  <div class="mdl-card__menu">
    {{component 'bepstore-goals@badge/status-badge' status=model.status size="big"}}
  </div>
{{/fbf-card}}

{{#if showChallenges}}
{{#fbf-card}}
  <div class="mdl-card__title">
     <h2 class="mdl-card__title-text">Challenges</h2>
  </div>
  {{#fbf-item class="challenges_item" }}
    <div class="timeline_container">
        {{#each model.challenges as |milestone index|}}
          {{component 'bepstore-goals@challenges/milestone' model=milestone index=index length=model.challenges.length}}
        {{/each}}
    </div>
  {{/fbf-item}}
{{/fbf-card}}

{{/if}}
{{/component}}
</div>

{{component 'bepstore-chat@chat-window' model=model}}
